{% extends "base.html" %}
{% load static %}
<!-- -->
{% block content %}
  <h4>
    Welcome, to <span class="text-primary">{{ request.organization.name }}</span>
  </h4>
  <br />
  <div class="my-3">
    <a href="#" class="btn btn-primary">+ Add Lead</a>
    <a href="{% url 'sale-create' slug=request.organization.slug %}"
       class="btn btn-warning">+ Add New Sale</a>
  </div>
  <br />
  <div class="row">
    <!-- Leads Card -->
    <div class="col-md-4 mb-4">
      <div class="metric-card">
        <div class="d-flex justify-content-between">
          <div>
            <p class="text-muted">Leads</p>
            <small class="text-muted">this week</small>
            <div class="metric-value">3</div>
            <div class="metric-change up">+20% ↑</div>
          </div>
          <div id="leadsChart"></div>
        </div>
      </div>
    </div>
    <!-- Membership Sales Card -->
    <div class="col-md-4 mb-4">
      <div class="metric-card">
        <div class="d-flex justify-content-between">
          <div>
            <p class="text-muted">Memberships Sold</p>
            <div class="metric-value">3</div>
            <div class="metric-change down">-10% ↓</div>
          </div>
          <div id="salesChart"></div>
        </div>
      </div>
    </div>
    <!-- Followups Card -->
    <div class="col-md-4 mb-4">
      <div class="metric-card">
        <div class="d-flex justify-content-between">
          <div>
            <p class="text-muted">Followups</p>
            <div class="metric-value">6</div>
            <div class="metric-change up">+8.3% ↑</div>
          </div>
          <div id="followupChart"></div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="text-danger">Recent Leads</h5>
          </div>
          <div class="table-responsive">{% include "leads/tables/leads.html" with leads=recent_leads %}</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="text-danger">Recent Orders</h5>
          </div>
          <div class="table-responsive">{% include "leads/tables/leads.html" with leads=recent_leads %}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="text-danger">Recent Sales</h5>
          </div>
          <div class="table-responsive">{% include "leads/tables/leads.html" with leads=recent_leads %}</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h5 class="text-danger">Recent Followups</h5>
          </div>
          <div class="table-responsive">{% include "leads/tables/leads.html" with leads=recent_leads %}</div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
<!-- -->
{% block custom_js %}
  <script src="{% static 'js/appjs/dashboard.js' %}"></script>
{% endblock custom_js %}
