<table id="client_table" class="table table-hover mb-0">
  <thead>
    <tr>
      <th class="pt-0">Name</th>
      <th class="pt-0">Mobile Number</th>
      <th class="pt-0">Email Address</th>
      <th class="pt-0">Age</th>
      <th class="pt-0">Gender</th>
      <th class=""></th>
      <th class=""></th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
      <tr>
        <td>{{ client.full_name }}</td>
        <td>{{ client.mobile_numbers.first.mobile_number|default_if_none:"Not Provided" }}</td>
        <td>{{ client.emails.first.email|default_if_none:"Not Provided" }}</td>
        <td>
          {% if client.date_of_birth %}
            <!-- -->
            {{ client.date_of_birth|date:"Y"|add:"-now" }} years
            <!-- -->
          {% else %}
            <!-- -->
            Not Provided
            <!-- -->
          {% endif %}
        </td>
        <td>{{ client.gender }}</td>
        <td>
          <a href="{% url 'client-detail' request.organization.slug client.pk %}"
             class="btn btn-primary btn-sm">Detail</a>
        </td>
        <td>
          <a hx-trigger="confirmed"
             hx-target="#client_table"
             hx-swap="outerHTML"
             onClick="Swal.fire({'icon': 'warning', title: 'Confirm', text:'Do you want to Delete?', 'showDenyButton': true, 'denyButtonText': 'No'}).then((result)=>{ if(result.isConfirmed){ htmx.trigger(this, 'confirmed'); } })"
             hx-delete="{% url 'hx-delete-client' request.organization.slug client.pk %}"
             class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="6">No clients added.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
