{% load static %}
<c-form-wrapper action="{{ request.path }}" method="post" class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Create Lead</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">X</span>
    </button>
  </div>
  <div class="modal-body">
    <c-form-errors :form="lead_form" />

    <c-form-hidden :field="lead_form.organization" />

    <div class="row">
      <div class="col-md-4 col-sm-12">
        <c-form-input :field="lead_form.first_name" />
      </div>
      <div class="col-md-4 col-sm-12">
        <c-form-input :field="lead_form.middle_name" />
      </div>
      <div class="col-md-4 col-sm-12">
        <c-form-input :field="lead_form.last_name" />
      </div>
      <div class="col-md-4 col-sm-12">
        <c-form-input :field="lead_form.source" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="card mb-3">
          <div class="card-header">Mobile Numbers</div>
          <div id="mobile-formset-container" class="card-body">
            {{ mobile_formset.management_form }}
            {% for form in mobile_formset %}
              <div class="form-group">
                <c-form-input :field="form.mobile_number" />
              </div>
            {% endfor %}
          </div>
          <div class="card-footer">
            <button type="button"
                    class="btn btn-outline-primary btn-sm"
                    hx-get="{% url 'hx-add-mobile-formset-input' slug=request.organization.slug %}"
                    hx-target="#mobile-formset-container"
                    hx-include="input[name='mobile-TOTAL_FORMS']"
                    hx-swap="beforeend">Add Mobile</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="card mb-3">
          <div class="card-header">Email Addresses</div>
          <div id="email-formset-container" class="card-body">
            {{ email_formset.management_form }}
            {% for form in email_formset %}
              <div class="form-group">
                <c-form-input :field="form.email" />
              </div>
            {% endfor %}
          </div>
          <div class="card-footer">
            <button type="button"
                    class="btn btn-outline-primary btn-sm"
                    hx-get="{% url 'hx-add-email-formset-input' slug=request.organization.slug %}"
                    hx-target="#email-formset-container"
                    hx-include="input[name='email-TOTAL_FORMS']"
                    hx-swap="beforeend">Add Email</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Address</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <c-form-input :field="address_form.flat_building" />
          </div>
          <div class="col-md-6 col-sm-12">
            <c-form-input :field="address_form.street" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <c-form-input :field="address_form.area" />
          </div>
          <div class="col-md-6 col-sm-12">
            <c-form-input :field="address_form.landmark" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <c-form-input :field="address_form.city" />
          </div>
          <div class="col-md-4 col-sm-12">
            <c-form-input :field="address_form.state" />
          </div>
          <div class="col-md-4 col-sm-12">
            <c-form-input :field="address_form.pincode" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <c-submit-button label="Submit" />
    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
  </div>
</c-form-wrapper>