{% for organization in organizations %}
<div class="col">
  <a href="{{ organization.get_dashboard_url }}">
    <div class="card card-hover" role="button" tabindex="0">
      {% if organization.image %}
        <img src="{{ organization.image }}" class="card-img-top" alt="{{ organization.name }} logo"></img>
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ organization.name }}</h5>
        <p class="card-text">{{ organization.description }}</p>
      </div>
    </div>
  </a>
</div>
{% endfor %}
