{% extends "base.html" %}

{% block title %}Membership Sales - {{ block.super }}{% endblock title %}

{% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Membership Sales</h1>
    <a href="{% url 'sale-create' slug=request.organization.slug %}" class="btn btn-primary">
      <i data-feather="plus" class="icon-sm"></i> New Sale
    </a>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Recent Sales</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive"
               id="sales-table"
               hx-trigger="load, membership-sale-created from:body, sale-updated from:body, sale-deleted from:body"
               hx-get="{% url 'hx-sales-table' slug=request.organization.slug %}"
               hx-swap="innerHTML"
               hx-target="#sales-table">
            <p class="text-muted">Loading sales...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
