<table hx-trigger="lead_email_added from:body"
       hx-get="{% url 'hx-lead-email-address-table' slug=request.organization.slug lead_id=lead_id %}"
       hx-target="this"
       hx-swap="outerHTML"
       class="table table-hover mb-0">
  <tbody id="email_table_body">
    {% for email in email_addresses %}
      <tr>
        <td>{{ email.email|default_if_none:"Not Provided" }}</td>
        <td>
          <button type="button" class="btn btn-secondary btn-sm">
            <i data-feather="edit"></i>
            Update
          </button>
        </td>
        <td>
          <button type="button"
                  hx-trigger="confirmed"
                  onClick="Swal.fire({'icon': 'warning', title: 'Confirm', text:'Do you want to Delete?', 'showDenyButton': true, 'denyButtonText': 'No'}).then((result)=>{ if(result.isConfirmed){ htmx.trigger(this, 'confirmed'); } })"
                  hx-delete="{% url 'hx-leads-email-table-delete' slug=request.organization.slug pk=email.uuid %}"
                  class="btn btn-danger btn-sm">
            <i data-feather="delete"></i>
            Delete
          </button>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="3">No Email Addresses Provided</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
